<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..//static/css/index.css">
</head>
<body>
    <h1>Horror Survivor Recap</h1>
    <h2>{{horror_season}}</h2>

    <h2>Predictions</h2>
    <ul>
        {% for prediction in predictions %}
            <li>{{prediction}}</li>
        {% endfor %}
    </ul>

    <p>Sole Survivor Prediction: Amanada Young</p>

    <hr>
    <!--Episode I start-->
    {% set episode_number = "Episode I" %}
    {% include "components/episode.html" %}

    {% set tribes = starting_tribes %}
    {% set heading = "Starting Tribes" %}
    {% include "components/tribe_list.html" %}

    {% set heading = "Shelter Building" %}
    {% set shelter = shelter_events %}
    {% include "components/shelter_building.html" %}

    {% set alliance = starting_alliances %}
    {% set heading = "Alliance Formation" %}
    {% include "components/alliance.html" %}

    {% set immunity_keys = immunity_challenges.keys() | list %}
    {% set immunity_values = immunity_challenges.values() | list | first %}

    {% set heading = immunity_keys[0] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[0] %}
    {% include "components/immunity.html" %}

    {% set councils = tribal_councils.keys() | list %}
    {% set council_events = tribal_councils.values() | list %}

    {% set council_number = councils[0] %}
    {% set council_desc = council_events[0][0] %}
    {% set council_details = council_events[0][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode II start-->
    {% set episode_number = "Episode II" %}
    {% include "components/episode.html" %}

    {% set heading = immunity_keys[1] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[1] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[1] %}
    {% set council_desc = council_events[1][0] %}
    {% set council_details = council_events[1][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode III start-->
    {% set episode_number = "Episode III" %}
    {% include "components/episode.html" %}

    <h3>Random Event: {{random_events[0]}}</h3>

    {% set heading = immunity_keys[2] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[2] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[2] %}
    {% set council_desc = council_events[2][0] %}
    {% set council_details = council_events[2][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode IV start-->
    {% set episode_number = "Episode IV" %}
    {% include "components/episode.html" %}

    {% set heading = immunity_keys[3] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[3] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[3] %}
    {% set council_desc = council_events[3][0] %}
    {% set council_details = council_events[3][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode V start-->
    {% set episode_number = "Episode V" %}
    {% include "components/episode.html" %}

    {% set heading = immunity_keys[4] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[4] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[4] %}
    {% set council_desc = council_events[4][0] %}
    {% set council_details = council_events[4][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode VI start-->
    {% set episode_number = "Episode VI" %}
    {% include "components/episode.html" %}

    <h3>Random Event: {{random_events[1]}}</h3>

    {% set heading = immunity_keys[5] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[5] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[5] %}
    {% set council_desc = council_events[5][0] %}
    {% set council_details = council_events[5][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Recap-->
    <h2>Recap</h2>

    {% set tribes = recap_tribes %}
    {% set heading = "Tribes" %}
    {% include "components/tribe_list.html" %}

    {% set alliance = recap_alliances %}
    {% set heading = "Alliances" %}
    {% include "components/alliance.html" %}

    <hr>
    <!--Episode VII start-->
    {% set episode_number = "Episode VII" %}
    {% include "components/episode.html" %}

    <h3>Random Event: {{random_events[2]}}</h3>

    {% set heading = immunity_keys[6] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[6] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[6] %}
    {% set council_desc = council_events[6][0] %}
    {% set council_details = council_events[6][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode VIII start-->
    {% set episode_number = "Episode VIII" %}
    {% include "components/episode.html" %}

    {% set heading = immunity_keys[7] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[7] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[7] %}
    {% set council_desc = council_events[7][0] %}
    {% set council_details = council_events[7][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode IX start-->
    {% set episode_number = "Episode IX" %}
    {% include "components/episode.html" %}

    <h2>MERGE</h2>

    {% set tribes = merge_tribes %}
    {% set heading = "New Tribe" %}
    {% include "components/tribe_list.html" %}

    {% set alliance = merge_alliances %}
    {% set heading = "Alliances" %}
    {% include "components/alliance.html" %}

    {% set heading = immunity_keys[8] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[8] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[8] %}
    {% set council_desc = council_events[8][0] %}
    {% set council_details = council_events[8][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode X start-->
    {% set episode_number = "Episode X" %}
    {% include "components/episode.html" %}

    {% set heading = immunity_keys[9] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[9] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[9] %}
    {% set council_desc = council_events[9][0] %}
    {% set council_details = council_events[9][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode XI start-->
    {% set episode_number = "Episode XI" %}
    {% include "components/episode.html" %}

    <h3>Random Event: {{random_events[3]}}</h3>

    {% set heading = immunity_keys[10] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[10] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[10] %}
    {% set council_desc = council_events[10][0] %}
    {% set council_details = council_events[10][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode XII start-->
    {% set episode_number = "Episode XII" %}
    {% include "components/episode.html" %}

    {% set heading = immunity_keys[11] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[11] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[11] %}
    {% set council_desc = council_events[11][0] %}
    {% set council_details = council_events[11][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode XIII start-->
    {% set episode_number = "Episode XIII" %}
    {% include "components/episode.html" %}

    <h3>Random Event: {{random_events[4]}}</h3>

    {% set heading = immunity_keys[12] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[12] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[12] %}
    {% set council_desc = council_events[12][0] %}
    {% set council_details = council_events[12][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode XIV start-->
    {% set episode_number = "Episode XIV" %}
    {% include "components/episode.html" %}

    {% set heading = immunity_keys[13] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[13] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[13] %}
    {% set council_desc = council_events[13][0] %}
    {% set council_details = council_events[13][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Episode XV start-->
    {% set episode_number = "Episode XV" %}
    {% include "components/episode.html" %}

    {% set heading = immunity_keys[14] %}
    {% set challenges = immunity_challenges[heading] %}
    {% set winner = immunity_challenge_winners[14] %}
    {% include "components/immunity.html" %}

    {% set council_number = councils[14] %}
    {% set council_desc = council_events[14][0] %}
    {% set council_details = council_events[14][1:] %}
    {% include "components/council.html" %}

    <hr>
    <!--Final Tribal-->
    <h2>Final Tribal</h2>
    <h2>The Final Three</h2>
    <ul>
        <li>Michael Myers</li>
        <li>Carrie White</li>
        <li>Angela Baker</li>
    </ul>

    <details>
        <summary>Voting Distribution</summary>
        <ul>
            {% for vote in final_votes.items() | list%}
                <li>{{vote[0]}} -> {{vote[1]}}</li>
            {% endfor %}
        </ul>
    </details>

    <h2>Sole Survivor of Horror Survivor Season I: Michael Myers</h2>

    <h3>Sia Money goes to Carrie White</h3>
</body>
</html>
